@font-face {
  font-family: "Trap";
  src: url("/assets/fonts/trap/Trap-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Trap";
  src: url("/assets/fonts/trap/Trap-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Trap";
  src: url("/assets/fonts/trap/Trap-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Trap";
  src: url("/assets/fonts/trap/Trap-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Trap";
  src: url("/assets/fonts/trap/Trap-ExtraBold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Trap";
  src: url("/assets/fonts/trap/Trap-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

body,
html {
  font-family: "Trap", sans-serif;
  color: #373636;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

[data-theme="dark"] body,
[data-theme="dark"] html {
  background-color: #222 !important;
  color: #fff !important;
}

